<div class="card m-5 w-50">
    <h1 class="card-header">Welcome to the ToDo Application!</h1>
    <p class="p-3">
        This application is an implementation of a todo list
        application. It allows you to create, edit, and delete
        tasks. It also allows you to mark tasks as complete.
        <br>
        <br>
        The reason for this application being a todo list is
        because I have found that I have a hard time keeping track
        of what I need to do. I have tried many different methods
        of keeping track of my tasks, but I have never found one
        that I have liked. I have tried using a notebook, but I
        always forget to bring it with me. I have tried using
        Microsoft todo, but I have found that it is not very
        intuitive. 
        <br>
        <br>
        So I decided to make my own todo list application. I
        wanted to make it so that I could access it from any
        device, so I decided to make it a web application.
    </p>
    <div class="text-muted card-footer">Made by: Spencer Warren & Charles Badibanga</div>
</div>